/* Style h1 element*/ 
h1, h2{
    color: royalblue; 
    text-align: center;
}
/*Style input form */ 
.input{
    text-align: center;
    margin-bottom: 5%;
}

/* Eaten div*/ 
.eaten{
    float: left;
    position: relative;
    margin-right: 5%; 
    margin-left: -5%;
    display: inline-block
}
/* Eat div*/ 
.eat{
    display: inline-block; 
 
}
/*float div*/ 
.float{
 margin-left: 40%;
}
/*styles all button elements*/ 
button{
    border-radius: 8px;
}



