<!--Using conditional usecase for handlebars block operator --> 
<li>
	{{name}}
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Eat Burger{{else}}Add to eat list{{/if}}
	</button>
</li>